# Ignora arquivos temporários
*.tmp
*.log

# Ignora arquivos de configuração local (ex: .env)
.env
*.env

# Ignora arquivos de IDE (VSCode, PyCharm)
.vscode/
.idea/

/home/murbach/Documents/UResearch/SAbiM-Group/GitHub-Projects/projects/2025-2D-Monochalcogenide/src/vasp_io/vasp_templates/POSCAR/
/home/murbach/Documents/UResearch/SAbiM-Group/GitHub-Projects/projects/2025-2D-Monochalcogenide/src/vasp_io/vasp_templates/INCAR_PATTERN
