# Ignora arquivos temporários
*.tmp
*.log
__pycache__/
*.py[cod]

# Ignora arquivos de configuração local (ex: .env)
.env
*.env

# Ignora arquivos de IDE (VSCode, PyCharm)
.vscode/
.idea/

2025-2D-Monochalcogenide/src/vasp_io/vasp_templates/POSCAR/
2025-2D-Monochalcogenide/src/vasp_io/vasp_templates/INCAR_PATTERN